<div class="recentPosts">
    <h2>Najświeższe informacje</h2>
    <div class="featuredWrapper">
        <div class="featuredPost">
            <img src="https://picsum.photos/800/600" />
            <div class="desc">
                <h4>Jan Nowak • 2 sierpnia 2023</h4>
                <h3>Lorem ipsum dolor sit amet</h3>
                <p>Aenean eleifend velit ac orci porta consectetur. Donec at ante ipsum. Proin quis tempor urna, quis bibendum lectus. Cras auctor aliquam mattis.</p>
                <div class="tags">
                    <a>Biznes</a>
                    <a>Polityka</a>
                    <a>Świat</a>
                </div>
            </div>
        </div>
        <div class="postsColumn">
            <div class="singlePost">
                <img src="https://picsum.photos/300/225" />
                <div class="desc">
                    <h4>Jan Nowak • 2 sierpnia 2023</h4>
                    <h3>Lorem ipsum dolor sit amet</h3>
                    <p>Aenean eleifend velit ac orci porta consectetur. Donec at ante ipsum. Proin quis tempor urna, quis bibendum lectus. Cras auctor aliquam mattis.</p>
                    <div class="tags">
                        <a>Biznes</a>
                        <a>Polityka</a>
                        <a>Świat</a>
                    </div>
                </div>
            </div>
            <div class="singlePost">
                <img src="https://picsum.photos/300/225" />
                <div class="desc">
                    <h4>Jan Nowak • 2 sierpnia 2023</h4>
                    <h3>Lorem ipsum dolor sit amet</h3>
                    <p>Aenean eleifend velit ac orci porta consectetur. Donec at ante ipsum. Proin quis tempor urna, quis bibendum lectus. Cras auctor aliquam mattis.</p>
                    <div class="tags">
                        <a>Biznes</a>
                        <a>Polityka</a>
                        <a>Świat</a>
                    </div>
                </div>
            </div>
            <div class="singlePost">
                <img src="https://picsum.photos/300/225" />
                <div class="desc">
                    <h4>Jan Nowak • 2 sierpnia 2023</h4>
                    <h3>Lorem ipsum dolor sit amet</h3>
                    <p>Aenean eleifend velit ac orci porta consectetur. Donec at ante ipsum. Proin quis tempor urna, quis bibendum lectus. Cras auctor aliquam mattis.</p>
                    <div class="tags">
                        <a>Biznes</a>
                        <a>Polityka</a>
                        <a>Świat</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>