<div class="subWrapper">
    <h1>Najnowsze wiadomości z całego świata</h1>
    <h2>Zapisz się do newslettera, aby otrzymywać informacje jako pierwszy.</h2>
    <div class="singleInputWrapper">
        <input type="text" placeholder="Wprowadź swój adres email"/>
        <button>Subskrybuj</button>
    </div>
</div>